.mainNav{
    margin: 20px;
    list-style: none;
    padding: 0; /*El padding es un espacio interno en un contenedor. Cuando le agregamos padding a un elemento, le estamos agregando un espacio interno*/
    background-color: rgb(231, 226, 206);
    height: 50px;
   
}

.mainNavItem{
    display: inline-block; /*Esto se hace para que aparezca cada elemento <li> uno al lado del otro en la navbar*/ 
    
}

.mainNavItem a{
    text-decoration: none;
    padding: 5px;
    color: rgb(4, 2, 2); 
}

/*PseudoClases: Definen el estilo de un estado especial de un elemento*/
.mainNavItem a:hover{
    color: rgb(147, 200, 97);
}

.mainNavItem a:active{
    color: red;
}

/*PseaudoElementos: Definen el estilo de una parte especifica de un elemento*/

.mainNavItem a::after{
    content: " | "; /*Content agrega contenido de algo que se le indique*/
}